/*Fonts being used*/

/* Universal Style */
body{
  font-family: 'Roboto', 'Arial', sans-serif;;
}

div{
  display: block;
}

a{
  text-decoration: none;
}

/*Header style*/
header{
  padding-left: 24px;
  margin: auto 0;
  padding-right: 24px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo{
  display: flex;
  align-items: center;
}
#colmar{
  color: black;
  font-weight: bold;
}
#academy{
  color: gray;
  font-weight: bold;
}
.navigation ul{
  display: inline-flex;
  list-style-type: none;
}
.navigation li{
  padding-left: 16px;
}
.navigation a{
  color: gray;
}

/*Banner style*/
.banner{
  background-color: lightgray;
  display: inline-flex;
  align-items: center;
}
.banner img{
  width: 60%;
  height: auto;
  padding: 32px 40px 32px 24px;
}
.jambotron{
  float: left;
}
#button-start{
  padding: 8px 50px;
  background-color: gray;
  color:white;
  display: table;
  margin: 0 auto;
}

/*Announcements style*/
.announcements{
  display: flex;
}
.announcements-left{
  padding: 32px 24px;
  width: 50%;
}
.announcements-left img{
  width: 100%;
}
.announcements-right{
  padding: 32px 24px 32px 0;
  width: 50%;
  border-left: 1px solid grey;
}
.information{
  padding-left: 16px;
  display: flex;
  align-items: center;
}
.information img{
  width: 35%;
  height: auto;
}
