/*Fonts being used*/

/* Universal Style */
body{
  font-family: 'Roboto', 'Arial', sans-serif;;
}

div{
  display: block;
}

a{
  text-decoration: none;
}

/*Header style*/
header{
  padding-left: 24px;
  margin: auto 0;
  padding-right: 24px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo{
  display: flex;
  align-items: center;
}
#colmar{
  color: black;
  font-weight: bold;
}
#academy{
  color: gray;
  font-weight: bold;
}
.navigation ul{
  display: inline-flex;
  list-style-type: none;
}
.navigation li{
  padding-left: 16px;
}
.navigation a{
  color: gray;
}

/*Banner style*/
.banner{
  background-color: lightgray;
  display: inline-flex;
  align-items: center;
}
.banner img{
  width: 60%;
  height: auto;
  padding: 32px 40px 32px 24px;
}
.jambotron{
  display: flex;
  flex-direction: column;
  max-width: 400px;
  align-content: space-between;
}
#button-start{
  padding: 10px 50px;
  background-color: gray;
  color:white;
  text-align: center;
}

/*Announcements style*/
.announcements{
  display: flex;
}
.announcements-left{
  padding: 32px 24px;
  width: 50%;
}
.announcements-left img{
  width: 100%;
}
.announcements-right{
  padding: 16px 24px 32px 0;
  width: 50%;
  border-left: 1px solid lightgrey;
}
.information{
  padding: 16px;
  display: flex;
  align-items: center;
  max-width: 432px;
}
.information img{
  width: 35%;
  height: auto;
}
.info-text{
  padding-left: 25px;
  margin-top: -25px;
}
#guest-lecture{
  background-color: lightgrey;
}

/*Start Learning style*/
.start-learning{
  /*padding-left: 24px;
  padding-right: 24px;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: lightgrey;
}
.start-learning h2{
  text-align: center;
  padding-top:32px;
  padding-bottom:32px;
}
.grid-of-courses{
  margin: 0 -32px 32px -32px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.course{
  background-color: white;
  max-width: 392px;
  margin: 0 16px 16px 16px;
}
.course img{
  height: 200px;
  width: auto;
}
.course-text{
  padding: 16px 16px 24px 16px;
}
.course-text p{
  padding-top: 8px;
}
/*Thesis exhibit style*/
